/* Containers */

.container {
	margin-top:60px;
}

/* ranking */

.ranking {
	table-layout:fixed;
}

.content {
    word-wrap:break-word;
    white-space:pre;
}

.ranking-panel:hover {
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.5);
}

.ranking-header {
}

.ranking-body {
	
}

.ranking-item {
}

.ranking-footer {
}

.ranking-avatar {
	float: right;
}

/* Ranking item stuff */

.item-rank {
	width: 30px;
}

.item-name {
}

.item-content {
	display: none;
}

/* disable hover of content  */
.ranking > .item-body > .item-content:hover {
	background-color: inherit;
}

/* New ranking */

#new-ranking {
}


.new-ranking-item {
}

#ranking-title-input {
	width: 100%;
	border: none;
	background: none;
}

.item-name-input {
	width: 100%;
	border: none;
}

.item-content-input {
	width: 100%;
	border: none;
}

/* Buttons */

.glyphicon {
	margin-right: 5px;
}

.glyphicon.open {
	float: right;
	display: none;
}

.ranking-button {
	width: 80px;
	margin-right: 10px;
}

.ranking-button.post {
	display: none;
}

.ranking-button.post:hover {	
}

/* Login stuff */

.login {
}

.signup-header {

}

.signup-title {

}

.signup-error {

}