/* Containers */

.container {
	margin-top:60px;
}

/* ranking */

.ranking {
} 

.ranking:hover {
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.5);
}

.ranking-header {
}

.ranking-body {
	
}

.ranking-item {
}

.ranking-footer {
}

.ranking-avatar {
	float: right;
}

/* Ranking item stuff */

.item-rank {
	width: 30px;
}

.item-name {
}

.item-content {
	display: none;
}

/* New ranking */

#new-ranking {
}


.new-ranking-item {
}

#ranking-title-input {
	width: 100%;
	border: none;
}

.item-name-input {
	width: 100%;
	border: none;
}

.item-content-input {
	width: 100%;
	border: none;
}

/* Buttons */

.glyphicon {
	margin-right: 5px;
}

.open {
	float: right;
}

.glyphicon.glyphicon-chevron-down.open {
	display: none;
}

.ranking-button {
	width: 80px;
	margin-right: 10px;
	float: right;
}

.ranking-button.post {
}

.ranking-button.post:hover {	
}

/* Login stuff */

.login {
}

.signup-header {

}

.signup-title {

}

.signup-error {

}