{% extends "ranking_page.html" %}

{% block title  %} Rankit | New ranking {% endblock title %}

{% block ranking %}
<div id="new-ranking">

	<div class="ranking">
		<div class="ranking-header">
			<input required id="ranking-title-input" type="text" placeholder="Enter ranking title...">
		</div>

		<div class="ranking-content">
		</div>

		<div class="new-ranking-item">
			<input required class="item-name-input" type="text" placeholder="Enter item name and press add..." id="item-text">
			<textarea class="item-content-input" type="text" placeholder="Type here..." id="item-content"></textarea>
		</div>

		<div class="ranking-footer">
			<form id="post-new-ranking" method="post">
				<input type="hidden" value="" name="ranking">
				<input id="submit-ranking" class="ranking-button post" type="submit" value="Post">
			</form>
			<input id="add-item" class="ranking-button" type="button" value="Add">		
		</div>

	</div>
</div>
{% endblock ranking %}