{% macro render_ranking_short(ranking) %}
<div>
	<a href='/user/{{ranking.user.name}}'>{{ranking.user.name}}</a>
	<p> {{ranking.created.strftime("%b %d, %Y")}} </p>
</div>
<div class="panel panel-default ranking-panel">
	<div class="panel-heading">
		<h4><a href = "/ranking/{{ranking.get_id()}}"> {{ranking.title}} </a></h4>
	</div>
	
	<table class="table table-hover table-bordered ranking">
		{% for rank in ranking.ranks %}
		<tbody class="item-body">
			<tr class="ranking-item">
				<td class="item-rank">{{loop.index}}</td>
				<td class="item-name">{{ranking.get_items()[rank].name}}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	
	<div class="panel-footer"> 
		<span class="glyphicon glyphicon-thumbs-up">{{ranking.number_of_likes}}</span>
		<span class="glyphicon glyphicon-user">{{ranking.number_of_votes}}</span>
	</div>
</div>

{% endmacro %}

{% macro render_ranking_full(ranking, is_sorted) %}

<div>
	<a href='/user/{{ranking.user.name}}'>{{ranking.user.name}}</a>
	<p> {{ranking.created.strftime("%b %d, %Y")}} </p>
</div>
<div class="panel panel-default ranking-panel">
	<div class="panel-heading">
		<h4> {{ranking.title}} </h4>
	</div>
	<table class="table table-hover table-bordered ranking">
		{% for rank in ranking.ranks %}
		<tbody class="item-body" data-item-rank="{{rank}}">
			<tr class="ranking-item">
				<td class="item-rank"> {{loop.index}} </td>
				<td> 
					<span class="item-name"> {{ranking.get_items()[rank].name}} </span>
					<span class="glyphicon glyphicon-chevron-down open"></span> 
				</td>
			</tr>
			<tr class="item-content">
				<td colspan="2"> {{ranking.get_items()[rank].content}} </td>
			</tr>
		</tbody>
	{% endfor %}
	</table>
	
	<div class="panel-footer">
		<div class="btn-group" role="group">
			{% if is_sorted %}
			<button id="sort-ranking" disabled class="btn btn-default btn-sm ranking-button" type="button">
				Sorted
			</button>
			{% else %}
			<form id="post-ranking" method="post">
				<button id="sort-ranking" class="btn btn-primary btn-sm ranking-button" type="button">
					Sort
				</button>
				<button id="submit-ranking" class="btn btn-sm ranking-button post" type="submit">
					Post
				</button>
				<input type="hidden" value="" name="ranking">
			</form>
		{% endif %}
		</div>
	</div>
</div>

{% endmacro %}