{% extends "base.html" %}

{% block title %} Rankit | Sign in {% endblock title %}

{% block right_nav %}

	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="/signin">Sign in</a>
		</li>
	</ul>
	
{% endblock right_nav %}

{% block content %}
<form class="signup" method="post">
	<div class="ranking-header">
		<span class="signup-title">
			Sign up
		</span>
	</div>
	<div class="ranking-item">
		<input class="item-name-input" type="email" placeholder="Email" name='email' value="{{email}}">
	</div>
	<div class="ranking-item">
		<input class="item-name-input" type="password" placeholder="Password" name='password' value="{{password}}">
	</div>
	<div class="ranking-item">
		<input class="item-name-input" type="password" placeholder="Verify password" name='verify' value="{{verify}}">
	</div>
	<div class="ranking-item">
		<input class="item-name-input" type="text" placeholder="Username" name='user_name' value="{{user_name}}">
	</div>
	<div class="ranking-footer">
		<input class="ranking-button" type="submit" value="OK">
	</div>
	<span class="signup-error">{{error_login}}</span>
</form>
{% endblock content %}